<h1>Code Campers</h1>
<div class="image-zoom-container">
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Burno Guerra</h2>
						<h3>Account Social Media</h3>
					</span>
            <img src="images/bruno.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Soifa Anjum</h2>
						<h3>Interactive Production</h3>
					</span>
            <img src="images/female_generic.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Melanie Lee</h2>
						<h3>Senior Product Manager</h3>
					</span>
            <img src="images/melanie.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Melinda Magailanes</h2>
						<h3>Assistanct Account Executive</h3>
					</span>
            <img src="images/melinda.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Ricky Smith</h2>
						<h3>Account Executive</h3>
					</span>
            <img src="images/ricky.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Ryan Rojas</h2>
						<h3>Associate Producer</h3>
					</span>
            <img src="images/ryan.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Susannah Bard</h2>
						<h3>Jr. Strategic Planner</h3>
					</span>
            <img src="images/susannah.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Shimal Dhanjee</h2>
						<h3>Associate Director of Prgramatic Mediea</h3>
					</span>
            <img src="images/shimal.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Noopur Chhabra</h2>
						<h3>Meida Supervisor</h3>
					</span>
            <img src="images/noopur.jpg" />
        </a>
    </div>
    <div class="zoom-container">
        <a href="#">
            <span class="zoom-caption">
						<h2>Ravina Saini</h2>
						<h3>Strategic Planning Coordinator</h3>
					</span>
            <img src="images/ravina.jpg" />
        </a>
    </div>
</div>