<header>
    <a href="/" class="logo"><img src="/images/nav-logo-blue.png" alt="Logo"></a>
    {{!-- nav --}}
    <nav id="nav-1">
        <a class="link-1" href="/">Home</a>
        <a class="link-1" href="/schedule">Schedule</a>
        <a class="link-1" href="about">About</a>
    </nav>
</header>