<div id="wrapper" class="about">
    <h1 class="wow fadeInDown"><code>About</code></h1>
    <div class="container wow slideInUp">
        <img class="alyssa" src="./../images/alyssa-circle-300.png" alt="alyssa" />
         {{!-- I didn't write this. Why? Well, I'm not good at writing about myself. I rather someone else think of what to say about me. --}}
        <p>With a mere four years in the industry, Alyssa Saucedo has proven she’s a digital force to watch. As a Creative Technology Developer at Team One, she serves as lead developer for the Lexus Digital StyleGuide, in addition to playing an integral role on numerous digital internal projects. From coding a prototype, to creating a digital art installation, to deconstructing and creating games, Alyssa is experienced in many areas of digital.</p>
        <br/>
        <p>Prior to Team One, Alyssa was a Creative Developer at Deutsch LA, where she worked on top digital campaigns such as VW’s “The Beetle Experience”, the redesign of Tacobell.com, and Target’s “Made to Matter” digital campaign. Before that, she served at RPA as a Junior Developer. Through the years, Alyssa has also worked with top brands such as Lexus, CMAB, Vivint, PopSecret, HTC North America, eSurance, and Honda.</p>


    </div>
</div>