<div id="wrapper">
    <h1 class="wow fadeInDown"><code>About</code></h1>
    <div class="container wow slideInUp">
        <h2>Hello there!</h2>
        <img src="" alt="alyssa" />
        <p>Put info about me in here. Contact info.</p>
    </div>
</div>