<div id="wrapper">
    <div class="intro wow">
        {{!--
        <h1 class="wow fadeInDown"><code>&lt;t1&gt; C<img src="./../images/o-power.png" alt="camp"/>DE C<img src="./../images/a-camp.png" alt="camp"/>MP &lt;/t1&gt;</code></h1> --}}
        <img class="codeLogo" src="./../images/camp_logo.png" alt="">
        <h1 class="wow fadeInUp"><code>TEAM ONE CODE CAMP</code></h1>
        <h2 class="wow fadeInUp"><code>Hello Future Coders!</code></h2>
        <div class="description">Have you always wanted to know how the cool digital stuff we build is made? Interested in gaining the know-how to build a website of your own? Join Team One Code Camp! 10 participants will be chosen as campers to learn beginner’s HTML and CSS.</div>
        <a class="btn wow fadeInUp" href="https://www.surveymonkey.com/r/JHN6QFM" target="_blank">Sign Up</a>
    </div>
    <p class="disclosure wow">Those chosen will be invited to attend 7 1&#189; hour sessions over the course of 7 weeks. We ask that if you are selected and you agree to take the course that you make your best effort to commit to attending all of the sessions.</p>
    <ul class="wow slideInUp">
        <li>
            <img src="./../images/htmlcssicon.png" alt="HTML and CSS" />
            <h3><code>HTML &amp; CSS </code></h3>
            <p>Learn the basic coding languages, HTML & CSS, which can help you build and style websites.</p>
        </li>
        <li>
            <img src="./../images/devtoolsicon.png" alt="HTML and CSS" />
            <h3><code>Developer Tools</code></h3>
            <p>Learn how to use the same tools that developers use so you can inspect elements and change and add to their properties.</p>
        </li>
        <li>
            <img src="./../images/fundamentalsicon.png" alt="HTML and CSS" />
            <h3><code>Web Fundamentals</code></h3>
            <p>Learn about how all the pieces come together to create web experiences.</p>
        </li>
    </ul>
</div>