<div id="wrapper">
    <h1 class="wow fadeInDown"><code>&lt;t1&gt; C<img src="./../images/o-power.png" alt="camp"/>DE C<img src="./../images/a-camp.png" alt="camp"/>MP &lt;/t1&gt;</code></h1>
    <div class="intro wow fadeInUp">
        <h2><code>Hello Future Coders!</code></h2>
        <div class="description">Have you always wanted to know how the cool digital stuff we build is made? Interested in gaining the know-how to build a website of your own? Join Team One Code Camp! 10 participants will be chosen as campers to learn beginner’s HTML and CSS, taught by Team One’s very own Alyssa Saucedo, Creative Technologist Developer.</div>
    </div>
    <ul class="wow fadeInRight">
        <li>
            <h3><code>HTML &amp; CSS </code></h3>
            <p>Learn the basic coding languages, HTML & CSS, which can help you build and style websites.</p>
        </li>
        <li>
            <h3><code>Developer Tools</code></h3>
            <p>Learn how to use the same tools that developers use so you can inspect elements and change and add to their properties.</p>
        </li>
        <li>
            <h3><code>Web Fundamentals</code></h3>
            <p>Learn about how all the pieces come together to create web experiences.</p>
        </li>
    </ul>
    <a class="btn wow fadeInUp" href="https://www.surveymonkey.com/r/JHN6QFM" target="_blank">Sign Up</a>
    <p class="disclosure wow slideInUp">Those chosen will be invited to attend 6 1&#189; hour sessions over the course of 6 weeks. We ask that if you are selected and you agree to take the course that you make your best effort to commit to attending all of the sessions.</p>
    <h2 class="wow fadeInUp"><code>Try coding now!</code></h2>
    <div id="wrap" class="wow slideInUp">
        <section id="code_editors">
            <div id="html" class="code_box">
                <h3>HTML</h3>
                <textarea name="html"></textarea>
            </div>
            <div id="css" class="code_box">
                <h3>CSS</h3>
                <textarea name="css"></textarea>
            </div>
        </section>
        <section id="output">
            <h3>OUTPUT</h3>
            <iframe></iframe>
        </section>
    </div>
</div>