<div id="wrapper">
    <h1 class="wow fadeInDown"><code>Schedule</code></h1>
    <section class="ac-container wow slideInUp">
        <div>
            <input id="ac-1" name="accordion-1" type="radio" checked />
            <label for="ac-1">Week 1: What is HTML?</label>
            <article class="ac-small">
                <p>HTML is a language for describing web pages. We'll talk about what goes into making an HTML doc. We'll take a look at developer tools on my two favorite browsers, Google Chrome & Mozilla Firefox and download a text editor that will help us create our webpage.</p>
            </article>
        </div>
        <div>
            <input id="ac-2" name="accordion-1" type="radio" />
            <label for="ac-2">Week 2: Markup</label>
            <article class="ac-medium">
                <p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
            </article>
        </div>
        <div>
            <input id="ac-3" name="accordion-1" type="radio" />
            <label for="ac-3">Week 3: The &lt;div&gt; tag &amp; intro to CSS</label>
            <article class="ac-large">
                <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>
            </article>
        </div>
        <div>
            <input id="ac-4" name="accordion-1" type="radio" />
            <label for="ac-4">Week 4: CSS &amp; Cross Browsing</label>
            <article class="ac-large">
                <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic. </p>
            </article>
        </div>
        <div>
            <input id="ac-5" name="accordion-1" type="radio" />
            <label for="ac-5">Week 5: More CSS &amp; deployment!</label>
            <article class="ac-large">
                <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic. </p>
            </article>
        </div>
        <div>
            <input id="ac-6" name="accordion-1" type="radio" />
            <label for="ac-6">Week 6: Intro to animations!</label>
            <article class="ac-large">
                <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic. </p>
            </article>
        </div>
        <div>
            <input id="ac-7" name="accordion-1" type="radio" />
            <label for="ac-7">Week 7: FINAL</label>
            <article class="ac-large">
                <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic. </p>
            </article>
        </div>
    </section>
</div>