<div id="wrapper">
    <h1 class="wow fadeInDown"><code>Schedule</code></h1>
    <section class="ac-container wow slideInUp">
        <div>
            <input id="ac-1" name="accordion-1" type="radio" checked />
            <label for="ac-1">Week 1: What is HTML?</label>
            <article class="ac-large">
                <p>HTML is a language for describing web pages. We'll talk about what goes into making an HTML doc. We'll take a look at developer tools on my two favorite browsers, Google Chrome &amp; Mozilla Firefox and download a text editor that will help us create our webpage.</p>
                <div class="overview clearfix">
                    <h4>Overview of class</h4>
                    <ul class="track">
                        <li>
                            <p>Developer tools for Chrome and Firefox</p>
                        </li>
                        <li>
                            <p>basic HTML structure</p>
                        </li>
                        <li>
                            <p>heading tags
                                <br/>ex:&lt;h1&gt;heading!&lt;/h1&gt; </p>
                        </li>
                        <li>
                            <p>paragraph tags
                                <br/>ex:&lt;p&gt;i love to write paragrphs!&lt;/p&gt;</p>
                        </li>
                        <li>
                            <p>image tag
                                <br/>ex:&lt;img src="images/cat.gif"/&gt;</p>
                        </li>
                    </ul>
                    <h4>Helpful Links</h4>
                    <ul class="track">
                        <li>
                            <p><a href="deck/classOne/" target="_blank">Class One Deck</a></p>
                        </li>
                        <li>
                            <p><a href="https://developers.google.com/chrome-developer-tools/">Google Chrome developer tools</a></p>
                        </li>
                        <li>
                            <p><a href="https://developer.mozilla.org/en-US/docs/Tools/GCLI">Mozilla Firefox developer tools</a></p>
                        </li>
                        <li>
                            <p><a href="http://www.w3.org/TR/html401/struct/global.html">Global structure of an HTML document</a></p>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div>
            <input id="ac-2" name="accordion-1" type="radio" />
            <label for="ac-2">Week 2: Markup</label>
            <article class="ac-small">
                <p>Let’s go over some syntax! Also, we'll learn some essential elements and attributes that will help your webpage look out of this world!</p>
            </article>
        </div>
        <div>
            <input id="ac-3" name="accordion-1" type="radio" />
            <label for="ac-3">Week 3: The &lt;div&gt; tag &amp; intro to CSS</label>
            <article class="ac-small">
                <p>The div element is wonderful. It defines a section in an HTML doc &amp; is often used together with CSS to layout a webpage. We've already touched on inline styles inside your HTML doc but we're going to change it up with an external stylesheet! Let's go over css syntax and basic selectors. </p>
            </article>
        </div>
        <div>
            <input id="ac-4" name="accordion-1" type="radio" />
            <label for="ac-4">Week 4: CSS &amp; Cross Browsing</label>
            <article class="ac-small">
                <p>Let's expore more CSS selectors! Also, when developing you have to take in consideration where the user will view your webpage. There are different browsers and different versions of browsers. And don’t forget mobile browsers as well. </p>
            </article>
        </div>
        <div>
            <input id="ac-5" name="accordion-1" type="radio" />
            <label for="ac-5">Week 5: More CSS &amp; deployment!</label>
            <article class="ac-small">
                <p>More CSS! We'll learn some more valuable properties that will make your webpage look super awesome. We'll also learn how you can push your website so all the world can see! </p>
            </article>
        </div>
        <div>
            <input id="ac-6" name="accordion-1" type="radio" />
            <label for="ac-6">Week 6: Intro to animations!</label>
            <article class="ac-small">
                <p>Learn how to animate an element! We'll learn what transitions are, vendor prefixes, and all the awesome properties it takes to animate something. </p>
            </article>
        </div>
        <div>
            <input id="ac-7" name="accordion-1" type="radio" />
            <label for="ac-7">Week 7: FINAL</label>
            <article class="ac-medium">
                <p>Each student will be givin a screenshot of a webpage I made. Try to make it resemble the page but please add your kind of style to it. Example: the width of the parent div that holds everything is 960px but you can make it wider or smaller if you want. Same with the height of the page. Want each div to have an background image of a cat? GO for it! Key css properties to use: padding, margin, fixed position for the navigation, floating the side and main content divs. Google web fonts for most if not all fonts on the page. Make sure to link the animated page you will make, the home page you are making, and a third link to your favorite website. That link should open in a new window.</p>
            </article>
        </div>
    </section>
</div>