@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url("//hello.myfonts.net/count/29d649");
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url("./webfonts/29D649_0_0.eot");
  src: url("./webfonts/29D649_0_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_0_0.woff") format("woff"), url("./webfonts/29D649_0_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-MediumOblique';
  src: url("./webfonts/29D649_1_0.eot");
  src: url("./webfonts/29D649_1_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_1_0.woff") format("woff"), url("./webfonts/29D649_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url("./webfonts/29D649_2_0.eot");
  src: url("./webfonts/29D649_2_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_2_0.woff") format("woff"), url("./webfonts/29D649_2_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-BookOblique';
  src: url("./webfonts/29D649_3_0.eot");
  src: url("./webfonts/29D649_3_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_3_0.woff") format("woff"), url("./webfonts/29D649_3_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-BlackOblique';
  src: url("./webfonts/29D649_4_0.eot");
  src: url("./webfonts/29D649_4_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_4_0.woff") format("woff"), url("./webfonts/29D649_4_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url("./webfonts/29D649_5_0.eot");
  src: url("./webfonts/29D649_5_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_5_0.woff") format("woff"), url("./webfonts/29D649_5_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url("./webfonts/29D649_6_0.eot");
  src: url("./webfonts/29D649_6_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_6_0.woff") format("woff"), url("./webfonts/29D649_6_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-Oblique';
  src: url("./webfonts/29D649_7_0.eot");
  src: url("./webfonts/29D649_7_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_7_0.woff") format("woff"), url("./webfonts/29D649_7_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url("./webfonts/29D649_8_0.eot");
  src: url("./webfonts/29D649_8_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_8_0.woff") format("woff"), url("./webfonts/29D649_8_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-HeavyOblique';
  src: url("./webfonts/29D649_9_0.eot");
  src: url("./webfonts/29D649_9_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_9_0.woff") format("woff"), url("./webfonts/29D649_9_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-LightOblique';
  src: url("./webfonts/29D649_A_0.eot");
  src: url("./webfonts/29D649_A_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_A_0.woff") format("woff"), url("./webfonts/29D649_A_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url("./webfonts/29D649_B_0.eot");
  src: url("./webfonts/29D649_B_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/29D649_B_0.woff") format("woff"), url("./webfonts/29D649_B_0.ttf") format("truetype");
}
@font-face {
  font-family: 'consolas';
  src: url("./../fonts/Consolas.ttf");
}
nav {
  padding: 13px;
  text-align: right;
  margin-left: 60px;
}
@media (max-width: 640px) {
  nav {
    padding: 13px 0;
  }
}

.link-1 {
  transition: 0.3s ease;
  background: #031603;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 2px solid #031603;
  border-bottom: 2px solid #031603;
  padding: 9px 0;
  margin: 0 20px;
}
@media (max-width: 640px) {
  .link-1 {
    margin: 0 3%;
    padding: 0;
  }
}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
  font-family: arial,helvetica;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

p {
  font-size: 20px;
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

.section {
  text-align: center;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}
#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#menu li a {
  text-decoration: none;
  color: #000;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
#menu li a {
  padding: 9px 18px;
  display: block;
}
#menu li.active a {
  padding: 9px 18px;
  display: block;
  color: #fff;
}

.twitter-share-button {
  position: fixed;
  z-index: 99;
  right: 149px;
  top: 9px;
}

#download {
  margin: 10px 0 0 0;
  padding: 15px 10px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#download a {
  text-decoration: none;
  color: #fff;
}
#download:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2F96B4;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -ms-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}

#infoMenu {
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 70;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 0.9em;
  padding: 8px 0 8px 0;
}
#infoMenu ul {
  padding: 0 40px;
}
#infoMenu li {
  display: inline-block;
  position: relative;
}
#infoMenu li a {
  display: block;
  margin: 0 22px 0 0;
  color: #333;
}
#infoMenu li a:hover {
  text-decoration: underline;
}

#examplesList {
  display: none;
  background: #282828;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 20px;
  float: left;
  position: absolute;
  bottom: 29px;
  right: 0;
  width: 638px;
  text-align: left;
}
#examplesList ul {
  padding: 0;
}
#examplesList ul li {
  display: block;
  margin: 5px 0;
}
#examplesList ul li a {
  color: #BDBDBD;
  margin: 0;
}
#examplesList ul li a:hover {
  color: #f2f2f2;
}
#examplesList .column {
  float: left;
  margin: 0 20px 0 0;
}
#examplesList h3 {
  color: #f2f2f2;
  font-size: 1.2em;
  margin: 0 0 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 0 0 5px 0;
}

/* Demos Menu
 * --------------------------------------- */
#demosMenu {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
  max-width: 960px;
  text-align: left;
}
@media (min-width: 641px) and (max-width: 959px) {
  .ac-container {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .ac-container {
    width: 90%;
  }
}
.ac-container label {
  font-size: 2em;
  line-height: 60px;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #777;
  border: 1px solid black;
}
.ac-container label:hover {
  background: #fff;
}
.ac-container input:checked + label {
  background: #3FACEC;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.ac-container input:checked + label:hover {
  background: #3FACEC;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.ac-container label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input {
  display: none;
}
.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
  background-image: url(../images/arrow_up.png);
}
.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article h4 {
  padding-top: 20px;
}
.ac-container article p {
  color: black;
  line-height: 23px;
  font-size: 15px;
  padding: 20px;
}
.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}
.ac-container input:checked ~ article.ac-small {
  height: 100px;
}
@media (min-width: 641px) and (max-width: 959px) {
  .ac-container input:checked ~ article.ac-small {
    height: auto;
  }
}
@media (max-width: 640px) {
  .ac-container input:checked ~ article.ac-small {
    height: auto;
  }
}
.ac-container input:checked ~ article.ac-medium {
  height: 200px;
}
@media (min-width: 641px) and (max-width: 959px) {
  .ac-container input:checked ~ article.ac-medium {
    height: auto;
  }
}
@media (max-width: 640px) {
  .ac-container input:checked ~ article.ac-medium {
    height: auto;
  }
}
.ac-container input:checked ~ article.ac-large {
  height: 680px;
}
@media (min-width: 641px) and (max-width: 959px) {
  .ac-container input:checked ~ article.ac-large {
    height: auto;
  }
}
@media (max-width: 640px) {
  .ac-container input:checked ~ article.ac-large {
    height: auto;
  }
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'AvenirLTStd-Light', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

code {
  font-size: 6em;
  color: #3e4b75;
}
@media (max-width: 640px) {
  code {
    font-size: 4em;
  }
}

h1, h2 {
  text-align: center;
  color: #000000;
}

h2 code {
  font-size: 2em;
}
@media (max-width: 640px) {
  h2 code {
    font-size: 1em;
  }
}

h3 code {
  font-size: 1.2em;
}
@media (max-width: 640px) {
  h3 code {
    font-size: .8em;
  }
}

h1 {
  visibility: hidden;
}

h2 {
  font-size: 2em;
}

header {
  position: relative;
  height: 50px;
  display: block;
  width: 100%;
  background: #031603;
  top: 0px;
}
header .logo {
  position: absolute;
  top: 6px;
  left: 20px;
}

.codeLogo {
  position: relative;
  width: 300px;
  margin: 0 auto;
  display: block;
  height: 150px;
}
@media (max-width: 640px) {
  .codeLogo {
    width: 70%;
    height: 100%;
  }
}

.container {
  visibility: hidden;
  border: 1px solid black;
  max-width: 960px;
  margin: 10px auto 50px auto;
  text-align: left;
  padding: 20px;
  background: white;
}
@media (min-width: 641px) and (max-width: 959px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
}
.container h3 {
  font-size: 2em;
  line-height: 60px;
}

.btn {
  visibility: hidden;
  border: none;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  padding: 25px 80px;
  display: table;
  margin: 30px auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #ee5c51;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 5px;
}
.btn:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#wrapper {
  visibility: hidden;
}
#wrapper img:nth-child(1) {
  position: relative;
  top: 2px;
}
#wrapper img:nth-child(2) {
  position: relative;
  top: 0px;
}
#wrapper .intro {
  margin: 0 auto;
  background-color: #79CEFF;
  width: 100%;
  padding: 30px;
  background-image: url("../../images/browsers_ipads.png");
}
#wrapper .intro .description {
  line-height: 36px;
  margin-top: 30px;
  margin: 30px auto 0;
  text-align: center;
  color: black;
  max-width: 860px;
  font-size: 20px;
}
#wrapper .intro p {
  margin: 0 auto;
  font-size: 1em;
  padding: 20px;
}
#wrapper > ul {
  display: inline-flex;
  width: 100%;
}
@media (min-width: 641px) and (max-width: 959px) {
  #wrapper > ul {
    display: block;
    margin-bottom: 100px;
  }
}
@media (max-width: 640px) {
  #wrapper > ul {
    display: block;
    margin-bottom: 100px;
  }
}
#wrapper > ul li {
  display: inline;
  margin: 20px auto;
  width: 22%;
}
#wrapper > ul li img {
  display: block;
  height: auto;
  width: 60%;
  margin: 13px auto;
}
@media (min-width: 641px) and (max-width: 959px) {
  #wrapper > ul li img {
    width: 20%;
  }
}
@media (max-width: 640px) {
  #wrapper > ul li img {
    width: 30%;
  }
}
#wrapper > ul li h3 {
  text-align: center;
  font-size: 2em;
}
#wrapper > ul li p {
  text-align: left;
  line-height: 24px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
@media (min-width: 641px) and (max-width: 959px) {
  #wrapper > ul li p {
    width: 80%;
  }
}
@media (max-width: 640px) {
  #wrapper > ul li p {
    width: 80%;
  }
}
#wrapper p.disclosure {
  line-height: 30px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  max-width: 870px;
}
#wrapper > span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -50px;
}

.overview {
  clear: both;
  position: relative;
  display: inline-flex;
  width: 100%;
  margin-bottom: 30px;
}
.overview .track {
  width: 50%;
}
.overview ul {
  margin: 30px auto 0 auto;
  width: 70%;
}
.overview ul li {
  list-style-type: circle;
}
.overview ul li p {
  color: black;
  font-size: 15px;
  padding: 0px;
}
.overview h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.about img {
  float: right;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 640px) {
  .about img {
    width: 100%;
  }
}
.about p {
  line-height: 30px;
}

/*# sourceMappingURL=main.css.map */
